<div class="container">
  <nav class="tab-nav">
    <!--<a *ngFor="let nav of navs"-->
    <!--[routerLink]="['/order']"-->
    <!--routerLinkActive #rla="active"-->
    <!--[active]="rla.isActive">-->
    <!--{{nav.text}}-->
    <!--</a>-->
    <a>sdsds</a>
  </nav>

  <section class="tab-con">

    <div>
      <!--*ngFor="let order of orders" [routerLink]="['order/', order.odId]"-->
      <section class="order-con">
        <header>
          <p class="col-xs-7 text-store">
            <img src="../../assets/image/icon/store.svg" alt="store" class="icon-store">
            <span>Flower Plus</span>
          </p>
          <p class="col-xs-5 text-status">待收货</p>
        </header>

        <ul class="pd-list">
          <li>
            <div class="col-xs-4 image-con">
              <img src="../../assets/image/order-image.jpg" alt="cover">
            </div>
            <div class="col-xs-8 text-con">
              <p class="text-title line-ellipsis">商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
              <p class="text-sub">参数等：</p>
              <p class="text-price">¥<span>122</span>.00</p>
              <p class="text-number">x1</p>
            </div>
          </li>
          <li>
            <div class="col-xs-4 image-con">
              <img src="../../assets/image/order-image.jpg" alt="cover">
            </div>
            <div class="col-xs-8 text-con">
              <p class="text-title line-ellipsis">商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
              <p class="text-sub">参数等：</p>
              <p class="text-price">¥<span>122</span>.00</p>
              <p class="text-number">x1</p>
            </div>
          </li>
        </ul>

        <footer class="ui-border-b">
          <div class="text-total">
            <p>共1{{number}}件商品</p>
            <p class="price">小计：<span class="text-price">¥<span>126</span>.00</span>(免运费)</p>
          </div>
        </footer>

        <div class="control-btn">
          <button type="button" class="btn btn-light">取消订单</button>
          <button type="button" class="btn btn-light">订单详情</button>
          <button type="button" class="btn btn-pink">去付款</button>
          <!--订单详情 确认收货-->
          <!--订单详情-->
        </div>
      </section>
    </div>

  </section>
</div>


