<div class="container">
  <section class="address-con arrow-right icon-address">
    <div class="user-name">收货人：dfdsf{{user}}</div>
    <div class="user-phone">181{{phone}}</div>
    收货地址：dfdfd{{default_address}}
  </section>

  <section class="order-con">
    <header>
      <img src="../../assets/image/icon/store.svg" alt="store">
      <p>Flower Plus</p>
    </header>
    <div class="pd-list">
      <img src="../../assets/image/list-cover.jpg" alt="cover">
      <div class="text-con">
        <div>商品标题</div>
        <div class="">参数等：</div>
        <div>¥122.00</div>
        <div>x1</div>
      </div>
    </div>
    <footer>
      <div class="ui-border-b">配送方式 快递 免运费</div>
      <div class="ui-border-b">卖家留言：<input></div>
      <div class="">共1件商品 小计：¥126.00</div>
    </footer>
  </section>
</div>
<nav>
  <div >合计：¥129.00 <button class="btn">提交订单</button></div>
  <!--TODO:提交订单 确认支付 立即付款=>loading付款成功（待收货） 关闭=>订单详情（待付款）-->
</nav>
