@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";
@import "../../assets/stylesheet/extend";

.text-price {
  width: 50%;
  color: map-get($global-color, a);
  font-weight: 400;
  span {
    font-size: map-get($global-font-size, h2);
  }
}

.order-con {
  background-color: #fff;
  header {
    @include flex-box(row, flex-start, center);
    height: 40px;
    padding: 0 map-get($global-space, b);
    .icon-store {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
    .text-store{
      @include flex-box(row, baseline, center);
    }
    .text-status{
      text-align: right;
      color: map-get($global-color,a);
    }

  }

  ul {
    li {
      @include flex-box(row, flex-end, center);
      margin-bottom: 3px;
      padding: map-get($global-space, b);
      background-color: map-get($global-color, l);
    }
    .image-con {
      position: relative;
      padding-top: 22%;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
    .text-con {
      @include flex-box(row, center, space-between);
      padding-left: map-get($global-space, b);
      .text-sub {
        margin-bottom: 10px;
      }
      .text-number {
        width: 50%;
        text-align: right;
      }
    }
  }

  footer {
    padding: 0 map-get($global-space, b);
    div {
      @include flex-box(row, space-between, center);
      height: 40px;
    }
    .deliver-price {
      padding-left: 5px;
    }
    .input {
      width: 80%;
    }
    .text-total {
      @include flex-box(row, flex-end, baseline);
      padding-top: 10px;
      line-height: 1.4;
      .price {
        padding-left: map-get($global-space, b);
        span {
          color: map-get($global-color, a);
        }
      }
    }
  }
}
