<div class="container">
  <section class="address-con arrow-right">
    <p class="user-name col-xs-7">收货人：dfdsf{{user}}</p>
    <p class="user-phone col-xs-5">18108272714{{phone}}</p>
    <p class="user-address icon-address">收货地址：dfdfd{{default_address}}</p>
  </section>

  <!--order main-->
  <section class="order-con">

   <order-pd></order-pd>

    <footer>
      <div class="ui-border-b text-deliver">配送方式 <span>快递<i class="deliver-price">免运费</i></span></div>
      <div class="ui-border-b">卖家留言：<input title="user-message" class="input" placeholder="留言内容"></div>
      <div class="text-total">
        <p>共1{{number}}件商品</p>
        <p class="price">小计：<span class="text-price">¥<span>126</span>.00</span></p>
      </div>
    </footer>
·
  </section>

  <nav class="nav-bar ui-border-t">
    <p>合计：<span class="text-price">¥<span>129</span>.00</span></p>
    <button class="btn-item btn-cart">立即购买</button>
    <!--TODO:提交订单 确认支付 立即付款=>loading付款成功（待收货） 关闭=>订单详情（待付款）-->
  </nav>

</div>


