@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.container {
  z-index: map-get($global-z-index,b)-20;
}

.order-list {
  .order-item {
    margin-bottom: 10px;
  }

  .list-header {
    width: 100%;
    height: 40px;
    padding: 0 map-get($global-space, b);
    @include flex-box(row, space-between, center);
    background-color: #fff;
  }
}

.pd-list {
  width: 100%;
  background-color: #fff;
  li:nth-last-child(2) {
    margin-bottom: 0 !important;
  }
}

.pd-item {
  padding: map-get($global-space, b);
  margin-bottom: 5px;
  background-color: map-get($global-color, j);
  @include flex-box (row, flex-start, flex-start);
  img {
    width: 25%;
  }
  .text-con {
    width: 75%;
    padding-left: map-get($global-space, b);
    .title {
      line-height: 1.2;
    }
  }
  .total {
    width: 100%;
    height: 30px;
    padding: map-get($global-space, b);
    line-height: 30px;
  }
}
