@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";
@import "../../assets/stylesheet/extend";

.shop-con {
  header {
    @include flex-box(row, flex-start, center);
    height: 40px;
    padding: 0 map-get($global-space, b);
    .icon-store {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
    .text-store {
      @include flex-box(row, baseline, center);
    }
    .text-status {
      text-align: right;
      color: map-get($global-color, a);
    }
  }
}

