@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.text-total {
  @include flex-box(row, flex-end, baseline);
  padding: 10px 0 10px 0;
  .price {
    padding-left: map-get($global-space, b);
    span {
      color: map-get($global-color, a);
    }
  }
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 49px;
  z-index: map-get($global-z-index,b)-20;
  background-color: map-get($global-color, k);
}

/*button*/
footer.control-btn {
  @include flex-box(row, flex-end, center);
  width: 100%;
  padding: map-get($global-space, b);
  button {
    width: 80px;
    min-width: auto;
    border-radius: 6px;
    font-size: map-get($global-font-size, normal);
    + button {
      margin-left: 10px;
    }
  }
}

.text-price {
  width: 50%;
  padding-right: 10px;
  color: map-get($global-color, a);
  font-weight: 400;
  span {
    font-size: map-get($global-font-size, h2);
  }
}

.order-con {
  margin-bottom: 10px;
  background-color: #fff;
  &:last-child {
    margin-bottom: 0;
  }
}

.order-list {
  .order-item {
    margin-bottom: 10px;
  }

  .list-header {
    width: 100%;
    height: 40px;
    padding: 0 map-get($global-space, b);
    @include flex-box(row, space-between, center);
    background-color: #fff;
  }
}

.pd-item {
  padding: map-get($global-space, b);
  margin-bottom: 5px;
  background-color: map-get($global-color, j);
  @include flex-box (row, flex-start, flex-start);
  img {
    width: 25%;
  }
  .text-con {
    width: 75%;
    padding-left: map-get($global-space, b);
    .title {
      line-height: 1.2;
    }
  }
  .total {
    width: 100%;
    height: 30px;
    padding: map-get($global-space, b);
    line-height: 30px;
  }
}
