@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.container {
  height: 100%;
  background-color: map-get($global-color, l);
  z-index: map-get($global-z-index, b);
}

.tab-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 map-get($global-space, b)*2;
  border-bottom: 1px solid map-get($global-color, d);
  @include flex-box(row, space-between, center);
  z-index: map-get($global-z-index, f);
  font-size: map-get($global-font-size,normal)+2px;
  background-color: #fff;
  color: map-get($global-color, b);
  a {
    width: 66px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
  }
}

.selected {
  color: map-get($global-color, a);
  border-bottom: 1px solid map-get($global-color, a);
}

.tab-con {
  padding: 48px 0 20px 0;
}
