<section class="shop-con">

  <header>
    <p class="col-xs-7 text-store">
      <img src="../../assets/image/icon/store.svg" alt="store" class="icon-store">
      <span>Flower Plus</span>
    </p>
    <p class="col-xs-5 text-status">待收货</p>
  </header>

  <ul class="pd-list">
    <li>
      <div class="col-xs-4 image-con">
        <img src="../../assets/image/order-image.jpg" alt="cover">
      </div>
      <div class="col-xs-8 text-con">
        <p class="text-title line-ellipsis">商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
        <p class="text-sub">参数等：</p>
        <p class="text-price">¥<span>122</span>.00</p>
        <p class="text-number">x1</p>
      </div>
    </li>
  </ul>

</section>
