@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.container {
  z-index: map-get($global-z-index,b);
}

.tab-nav {
  width: 100%;
  padding: 0 map-get($global-space, b);
  border-bottom: 1px solid map-get($global-color, d);
  @include flex-box(row, space-between, center);
  font-size: map-get($global-font-size,normal)+2px;
  background-color: #fff;
  color: map-get($global-color, b);
  li {
    width: 66px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
  }
}

.active{
  color: map-get($global-color,a);
  border-bottom:1px solid map-get($global-color,a);
}
