<section class="shop-con">

  <header>
    <p class="col-xs-7 text-store">
      <img src="../../assets/image/icon/store.svg" alt="store" class="icon-store">
      <span>Flower Plus</span>
    </p>
    <p class="col-xs-5 text-status" *ngIf="stateFlag">{{state}}</p>
  </header>

  <ul class="pd-list">

    <li *ngFor="let product of products">
      <div class="col-xs-4 image-con">
        <img src="{{product.coverUrl}}" alt="cover">
      </div>
      <div class="col-xs-8 text-con">
        <p class="text-title line-ellipsis">{{product.productName}}</p>
        <!--<p class="text-sub">参数等：</p>-->
        <p class="text-price">¥<span>{{product.price}}</span></p>
        <p class="text-number"><span>-</span><span>{{product.number}}</span><span>+</span></p>
      </div>
    </li>

  </ul>

</section>
