@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";
@import "../../assets/stylesheet/extend";

.text-price {
  width: 50%;
  color: map-get($global-color, a);
  font-weight: 400;
  span {
    font-size: map-get($global-font-size, h2);
  }
}

.container {
  height: 100%;
  background-color: map-get($global-color, l);
  z-index: map-get($global-z-index, b);
}

.order-info {
  padding: 0 map-get($global-space, b);
  background-color: #fff;
  div {
    @include flex-box(row, space-between, center);
    height: 40px;
  }
  .deliver-price {
    padding-left: 5px;
  }
  .input {
    width: 80%;
  }
}

.nav-bar {
  @extend %nav-bar;
  @include flex-box(row, flex-end, center);
  p {
    padding-right: map-get($global-space, b);
  }
  .btn-default{
    border:0;
    border-radius: 0;
    height: 100%;
  }
}
