<div class="container">
  in container
  <section *ngFor="let order of orders" [routerLink]="['order/', order.odId]">
    <ul class="pd-list">
      <li class="pd-item">
        <img src="./assets/image/list-cover.jpg" alt="cover-image">
        <div class="text-con">
          <p class="title line-ellipsis">dsfsfdsfdsfdsfdsfdsfdsfdsdsfsfdsfdsfdsfdsfdsfdsfds</p>
          <div><span>¥ddddd</span><span>X1</span></div>
        </div>
      </li>
    </ul>
    <div class="total">共3件商品 合计:¥158.00</div>

    <footer>
      <button>取消订单</button>
      <button>订单详情</button>
      <button>去付款</button>
      <!--订单详情 确认收货-->
      <!--订单详情-->
    </footer>
  </section>

  <!--<section class="order-empty">-->
    <!--<img src="#" alt="empty">-->
    <!--<p></p>-->
  <!--</section>-->

  <!--<ul class="order-list">-->
    <!--<li class="order-item">-->

     <!---->

    <!--</li>-->
  <!--</ul>-->
</div>
