<div class="container">
  <img src="./assets/image/user-login.jpg" alt="user-login">

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()"  class="form">
    <div class="input-group input-phone">
      <input type="text" class="input"  placeholder="请输入您的手机号码"
             required
             [(ngModel)]="model.mobile" mobile="mobile">
      <button class="btn btn-code" (click)="sendCode()">获取验证码</button>
    </div>

    <div class="input-group input-code">
      <input type="number" class="input" pattern="[0-9]*" maxlength="4" placeholder="请输入短信验证码">
    </div>

    <p>{{message}}</p>
    <button type="submit" class="btn btn-gray" (click)="login()">登录</button>
  </form>

</div>
