@import "../../assets/stylesheet/variable";

.form {
  width: 100%;
  padding: map-get($global-space,b)*2 map-get($global-space, b) 0;
  &:last-child{
    padding-top: 0;
  }
}

.input-group {
  padding-bottom: map-get($global-space,b)*2;
  &::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 12px;
    width: 16px;
    height: 16px;
    z-index: map-get($global-z-index, b);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.input {
  height: 40px;
  padding: 10px 10px 10px 32px;
  background: map-get($global-color, l);
}

.input-phone {
  padding-right: 110px;
  &::before {
    background-image: url("../../assets/image/icon/phone.svg");
  }
  .btn-code {
    position: absolute;
    right: 0;
    top: 4px;
    width: 88px;
    height: 32px;
  }
}

.input-code {
  &::before {
    background-image: url("../../assets/image/icon/code.svg");
  }
}

.btn-gray {
  width: 100%;
  height: 40px;
  background-color: map-get($global-color, b);
  color: #fff;
  font-size: 14px;
}
