.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
}

.col-xs-2 {
  width: 16.7%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3%;
}

.col-xs-5 {
  width: 41.7%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3%;
}

.col-xs-8 {
  width: 66.7%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.3%;
}

.col-xs-12 {
  width: 100%;
}
