/********************************
color
*********************************/
$global-color: (
  f:#f6325b,
  e:#f73f65,
  a:#FD567C,
  b:#333,
  c:#4A4A4A,
  d:#e5e5e5,
  g:#999,
);

/********************************
font-size
*********************************/
$global-font-size: (
  h1:18px,
  h2:16px,
  normal:14px,
  small:12px,
);

/********************************
z-index
*********************************/
$global-z-index: (
  a:0,
  b:1000,
  c:2000,
  d:3000,
  e:4000
);

/********************************
break-point
*********************************/
$global-width: (
  lg:992px,
  md:768px,
);

/********************************
container space
*********************************/
$global-space: (
  a:15px,
  b:12px,
);


