<div class="container">
  <a *ngFor="let product of products" [routerLink]="['/detail', product.id]" class="ui-border-b">
    <img src="{{product.coverUrl}}" alt="cover">

    <section class="flex-box text-con">
      <div class="col-xs-9">
        <h2>{{product.name}}</h2>
        <p class="text-sub">{{product.intro}}</p>
        <h2>{{product.price}}元</h2>
      </div>
      <div class="col-xs-3 btn-con">
        <button type="button" class="btn">立即购买</button>
      </div>

    </section>
  </a>
</div>
