@import "../assets/stylesheet/variable";
@import "../assets/stylesheet/mixin";

.nav-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 1024px;
  height: 48px;
  background-color: #fff;
  z-index: map-get($global-z-index,a)+10;
  @include flex-box(row, center, center);
  .nav-item {
    width: 33.3%;
    height: 100%;
    @include flex-box(column, center, center);

    .nav-icon {
      width: 28px;
      height: 28px;
      background-position: center;
      background-size: 100%;
    }

    .nav-title {
      margin: 2px 0;
      font-size: map-get($global-font-size, small);
      color: map-get($global-color, b);
    }

    &:nth-child(1) {
      .nav-icon {
        background-image: url("../assets/image/icon/home.svg");
      }
    }
    &:nth-child(2) {
      .nav-icon {
        background-image: url("../assets/image/icon/cart.svg");
      }
    }
    &:nth-child(3) {
      .nav-icon {
        background-image: url("../assets/image/icon/my.svg");
      }
    }
    &.active {
      .nav-title {
        color: map-get($global-color, a);
      }

      &:nth-child(1) {
        .nav-icon {
          background-image: url("../assets/image/icon/home-fill.svg");
        }
      }
      &:nth-child(2) {
        .nav-icon {
          background-image: url("../assets/image/icon/cart-fill.svg");
        }
      }
      &:nth-child(3) {
        .nav-icon {
          background-image: url("../assets/image/icon/my-fill.svg");
        }
      }
    }
  }

}

@media (min-width: 1024px) {
  .nav-bar {
    left: 50%;
    margin-left: -512px;
  }
}
