<div class="container">
  <section *ngFor="let product of products" [routerLink]="[product.id]">
    <img src="{{product.coverUrl}}" alt="cover">

    <div class="text-con">
      <div class="col-xs-9">
        <h2 class="text-title line-ellipsis">{{product.name}}</h2>
        <p class="text-sub">{{product.listIntro}}</p>
        <p class="text-price">{{product.price}}元</p>
      </div>
      <div class="col-xs-3 btn-con">
        <button type="button" class="btn">立即购买</button>
      </div>
    </div>

  </section>
</div>
