@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.container {
  margin-bottom: 48px;
}

.text-con {
  @include flex-box(row, space-between, flex-end);
}

.btn-con {
  text-align: right;
}

.btn {
  max-width: 120px;
}
