@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.container {
  position: relative;
}

.swiper-con {

}

.text-con {
  width: 100%;
  padding: map-get($global-space,b)*2 map-get($global-space, b);
  background-color: #fff;
  .text-title {
    padding-bottom: 6px;
  }
  .text-sub {
    padding-bottom: 6px;
    line-height: 1.4;
  }
  .text-price {
    .price {
      font-size: map-get($global-font-size, a);
      padding-right: 24px;
    }
    .original-price {
      font-size: map-get($global-font-size, small);
      font-weight: 300;
      color: map-get($global-color, i);
      text-decoration: line-through;
    }
  }
}

.text-deliver {
  @include flex-box(row, space-between, center);
  background-color: #fff;
  padding: map-get($global-space, b);
  color: map-get($global-color, g);
  font-size: map-get($global-font-size, small);
  .deliver-price {

  }
  .user-purchase {

  }
}

.detail-con {
  .rich-text {
    background-color: #fff;
    padding-top: map-get($global-space,b)*2;
    padding-bottom: map-get($global-space,b)*2;
  }
}

.nav-buy {
  z-index: map-get($global-z-index, b);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  float: left;
  .icon-con{
    width: 15%;
    height: 100%;
    text-align: center;
    float: left;
    @include flex-box(column,center,center);
    p{
      padding-top: 2px;
      font-size: 12px;
      color: map-get($global-color,g);
    }
    img{
      width: 22px;
      margin: 0 auto;
    }
  }
  .btn-con{
    width: 35%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    float: left;
    color: #fff;
    @include flex-box(row,center,center);
  }
  .btn-cart{
    background-color: map-get($global-color,a);
  }
  .btn-pauchase{
    background-color: map-get($global-color,c);
  }
}
