@import "../../assets/stylesheet/variable";
@import "../../assets/stylesheet/mixin";

.container {
  padding-left: map_get($global-space, b);
  padding-right: map_get($global-space, b);
  margin-bottom: 50px;
}

.flex-box {
  @include flex-box(row, space-between, flex-end);
}

a {
  margin-bottom: map_get($global-space, a);
  display: block;
}

.text-con {
  padding-top: map_get($global-space, a);
  padding-bottom: map_get($global-space, a);
  .text-sub {
    padding-top: 5px;
    padding-bottom: map_get($global-space, a);
  }
}

.btn-con{
  text-align: right;
}

.btn {
  max-width: 120px;
}
