<section class="container">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
      <div class="input-title">收货人：</div>
      <label class="center-block">
        <input type="text" class="input form-control" formControlName="consignee" placeholder="请输入您的姓名">
      </label>
    </div>

    <div class="form-group">
      <div class="input-title">联系电话：</div>
      <label class="center-block">
        <input type="tel" class="input form-control" formControlName="mobile" placeholder="请输入手机号">
      </label>
    </div>

    <div class="form-group">
      <label class="center-block">
        <select class="form-control" formControlName="province">
          <option value="">请选择</option>
          <option *ngFor="let province of provinces" [value]="province.ProID">{{province.name}}</option>
        </select>
      </label>

      <label class="center-block">
        <select class="form-control" formControlName="city">
          <option value="">请选择</option>
          <option *ngFor="let city of cities" [value]="city.CityID">{{city.name}}</option>
        </select>
      </label>

      <label class="center-block">
        <select class="form-control" formControlName="district">
          <option value="">请选择</option>
          <option *ngFor="let district of districts" [value]="district.id">{{district.DisName}}</option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label class="center-block">
        <input type="text" class="input form-control" formControlName="address" placeholder="请输入详细地址">
      </label>
    </div>

    <div class="checkbox">
      <label class="center-block">
        <input type="checkbox" formControlName="isDefault">设为默认
      </label>
    </div>
  </form>

  <div class="">
    <button type="submit"
            [disabled]="addressForm.pristine" class="btn btn-default">保存地址
    </button>
  </div>

</section>

<p>Form value: {{ addressForm.value | json }}</p>
<p>Form status: {{ addressForm.status | json }}</p>
