<section class="container">
  <form #loginForm="ngForm" class="form">

    <div class="input-group input-phone">
      <div class="input-title">收货人姓名：</div>
      <input type="tel" class="input" id="name" placeholder="请输入手机号"
             required
             [(ngModel)]="model.mobile" phone="mobile">
    </div>

    <div class="input-group input-phone">
      <div class="input-title">收货人姓名：</div>
      <input type="tel" class="input" id="phone" placeholder="请输入手机号"
             required
             [(ngModel)]="model.mobile" phone="mobile">
    </div>

    <div class="input-group input-phone">
      <div class="input-title">收货人姓名：</div>
      <input type="tel" class="input" id="phone" placeholder="请输入手机号"
             required
             [(ngModel)]="model.mobile" phone="mobile">
    </div>

    <div class="input-group input-phone">
      <div class="input-title">收货人姓名：</div>
      <input type="tel" class="input" id="phone" placeholder="请输入手机号"
             required
             [(ngModel)]="model.mobile" phone="mobile">
    </div>

    <button type="submit" class="btn btn-gray">登录</button>
  </form>
</section>
