.user {
  width: 100%;
  height: 100%;
}

.flex-box {
  @include flex-box(row, center, center);
}

.user-header {
  position: relative;
  width: 100%;
  height: 55vh;
  background: url("../../assets/image/user-bg.jpg") center no-repeat;
  background-size: cover;
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    .user-photo {
      width: 44px;
      height: 44px;
      -moz-border-radius: 50%;
      overflow: hidden;
    }
    .user-name{
      margin-top: 10vh;
      color: #fff;
    }
  }
}

.user-order {

}
