<section class="container">

  <header class="user-header">
    <div class="user-photo">
      <img src="../../assets/image/icon/user.svg" alt="user">
    </div>
    <div class="user-name">用户</div>
  </header>

  <section class="user-order">
    <div class="col-xs-4 icon-item">
      <div class="image-con">
        <img src="../../assets/image/icon/pay.svg" alt="icon-pay">
      </div>
      <div class="icon-text">待付款</div>
    </div>
    <div class="col-xs-4 icon-item">
      <div class="image-con">
        <img src="../../assets/image/icon/deliver.svg" alt="icon-deliver">
      </div>
      <div class="icon-text">待收货</div>
    </div>
    <div class="col-xs-4 icon-item">
      <div class="image-con">
        <img src="../../assets/image/icon/order.svg" alt="icon-order">
      </div>
      <div class="icon-text">已完成</div>
    </div>
  </section>

  <ul class="normal-list ui-border-b" >
    <li class="arrow-right ui-border-t">
      <img src="../../assets/image/icon/address.svg" alt="icon-address">
      <span>收货地址</span>
    </li>
  </ul>

</section>
