<div class="container">

  <header class="user-header">
    <div class="user-photo">
      <img src="./assets/image/icon/my-fill.svg" alt="user">
    </div>
    <div class="user-name">用户</div>
  </header>

  <section class="user-order">

    <div *ngFor="let nav of navs" class="col-xs-4 icon-item" (click)="orderList(nav.name)">
      <div class="image-con">
        <img src="{{nav.iconUrl}}">
      </div>
      <div class="icon-text">{{nav.title}}</div>
    </div>

  </section>

  <ul class="normal-list ui-border-b">
    <li class="arrow-right ui-border-t" [routerLink]="['/user/address']">
      <img src="./assets/image/icon/address.svg" alt="icon-address">
      <p>收货地址</p>
    </li>
  </ul>

</div>
