<section class="user">
  <header class="user-header">
    <div class="wrapper">
      <div class="user-photo">
        <img src="../../assets/image/list-cover.jpg">
      </div>
      <div class="user-name"></div>
    </div>
  </header>

  <section class="user-order">
    <div class="col-xs-4">
      <div class="icon-item">
        <img src="../../assets/image/" alt="icon-pay">
      </div>
      <div class="icon-text">待付款</div>
    </div>
  </section>

  <section class="user-list">
    <ul>
      <li class="arrow-right">
        <img src="../../assets/image" alt="icon-address">
        <span>我的收货地址</span>
      </li>
      <li class="arrow-right">
        <img src="../../assets/image" alt="icon-address">
        <span>我的收货地址</span>
      </li>
    </ul>

    <ul>
      <li>
        <span>退出登录</span>
      </li>
    </ul>
  </section>
</section>
